*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
}

.margin-fix{
    height: 100vh;
    width: 100%;
    margin: 0 10%;
}


/* SEZIONE 1 */



.page1{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.header-nav-box, main{
    width: 100%;
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
}

.header-nav-box *{
    display: inline-block;
    vertical-align: middle;
}

nav{
    padding: 0 10%;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 0 15px;
}

a:hover{
    text-decoration: underline;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

button:hover{
    box-shadow: 2px 2px black;
}

button:active{
    background-color: darkgray;
}

.main-box{
    color: white;
}

.main-box h2,p{
    margin: 5% 0;
}

.main-box h2{  
    font-size: 3em;
}

.main-box p{
    font-size: 1.5em;
}

.main-box button{
    font-size: 1.1em;
    padding: 20px;
    border-radius: 40px;
    margin: 0 2%;
}

.main-box button:last-child{
    background-color: #23272a;
    color: white;
}




/* SEZIONE 2 */



.box2{
    
}