/* Impostazioni generiche in comune a tutte le pagine */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
}

.page{
    height: 85%;
    width: 100%;
}

p{
    font-size: 1.5em;
}

h2{
    font-size: 3em;
    font-weight: 800;
}

/* TITOLAZIONE PRIMA PAGINA */

.topper{
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    text-align: center;
    background-color: #255ee9;
}

.topper *{
    display: inline-block;
    vertical-align: middle;
}

nav{
    padding: 0 10%;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 0 15px;
}

a:hover{
    text-decoration: underline;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

button:hover{
    box-shadow: 2px 2px black;
}

button:active{
    background-color: darkgray;
}

/* CORPO PRIMA PAGINA */

.bg{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
}

.body *{
    color: white;
    text-align: center;
}

.body h2{
    padding: 6% 0 3% 0;  
}

.body p{
    margin: 0 20% 3% 20%;
}

.btns{
    text-align: center;
}

.body button{
    font-size: 1.1em;
    padding: 20px;
    border-radius: 40px;
    margin: 0 2%;
    color: black;
}
.fa-long-arrow-alt-down{
    color: black;
    padding-right: 5px;
}
.body button:last-child{
    background-color: #23272a;
    color: white;
}

/* PAGINA 2 */

.article{
    width: 100%;
    height: 100%;
    text-align: center;
}

.article div{
    vertical-align: top;
    display: inline-block;
}

.description{
    width: 400px;
    text-align: left;
    color: #23272a;
    margin-left: 10%;
}

.wave{
    vertical-align: bottom;
}