/* Impostazioni generiche in comune a tutte le pagine */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
}

.page{
    height: 100%;
    width: 100%;
    position: relative;
}

p{
    font-size: 1.5em;
    margin-top: 20px;
}

h2{
    font-size: 3em;
    font-weight: 800;
}

/* TITOLAZIONE PRIMA PAGINA */

.topper{
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    text-align: center;
    background-color: #255ee9;
}

.topper *{
    display: inline-block;
    vertical-align: middle;
}

nav{
    padding: 0 10%;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 0 15px;
}

a:hover{
    text-decoration: underline;
}

button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

button:hover{
    box-shadow: 2px 2px black;
}

button:active{
    background-color: darkgray;
}

/* CORPO PRIMA PAGINA */

.bg{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
}

.body *{
    color: white;
    text-align: center;
}

.body h2{
    padding: 6% 0 3% 0;  
}

.body p{
    margin: 0 20% 3% 20%;
}

.btns{
    text-align: center;
}

.body button{
    font-size: 1.1em;
    padding: 20px;
    border-radius: 40px;
    margin: 0 2%;
    color: black;
}
.fa-long-arrow-alt-down{
    color: black;
    padding-right: 5px;
}
.body button:last-child{
    background-color: #23272a;
    color: white;
}

/* PAGINA 2 */

.article{
    height: 100%;
    text-align: center;
}

.article div{
    vertical-align: middle;
    display: inline-block;
    height: 500px;
}

.description{
    width: 500px;
    text-align: left;
    color: #23272a;
    margin-left: 5%;
}

/* PAGINA 3 */

.p3{
    background-color: #dbdbdb;
}

.p3 div{
    margin-top: 10%;
}

.p3 .wave:first-child{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -100px;
    overflow: hidden;
    transform: rotate(180deg);
}

.p3 .wave:last-child{
    position: absolute;
    width: 100%;
    height: 100px;
    top: -100px;
    overflow: hidden;
}

/* PAGINA 4 */

.p4 .article{
    margin-top: 15%;
}

/* PAGINA 5 */

.article-big{
    margin: 0 10%; 
    color: #23272a;
    text-align: center;
}

.question h2{
    height: 100px;
    padding-top: 10px;
    font-size: 2em;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: 282px 10px;
}

.question button{
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    color: white;
    background-color: #8ea1e1;
    border-radius: 40px;
}

.question .fa-long-arrow-alt-down{
    color: white;
}

/* PAGINA 6 - FOOTER */

footer{
    width: 100%;
    height: 100%;
    background-color: #23272a;
    padding-top: 10px;
}

.footer-container{
    height: 70%;
    margin: 5% 10%;
}
.footer-container div{
    display: inline-block;
    width: 250px;
}

.lang-selection{
    padding-top: 10px;
}

.lang-selection *{
    vertical-align: middle;
    color: white;
}

.lang h3{
    font-size: 1.8em;
    color:#7289da;
    font-weight: 800;
}

.lang img{
    width: 30px;
}

.lang .fab{
    font-size: 1.3em;
    color: white;
    padding: 8% 8% 8% 0;
}

